#collapsable-nav >ul li {
    border: 1px solid green;
}

#collapsable-nav > ul {
    background-color: white;
}

section {
    background-color: grey;
    height: 1000px;
    background-clip: content-box;
}

section > p {
    padding: 10px;
}
