#collapsable-nav >ul li {
    border: solid green;
    border-width: 0px 1px 1px 1px;
}

#collapsable-nav >ul li:first-child {
    border-width: 1px;
}

#collapsable-nav > ul {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

section {
    background-color: grey;
    height: 1000px;
    background-clip: content-box;
}

section > p {
    padding: 10px;
}
